<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocation</key>
	<string></string>
	<key> GIDClientID</key>
	<string>11763751557-61b58h898ml5mkl4ogkfcirammlq69l0.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.11763751557-61b58h898ml5mkl4ogkfcirammlq69l0</string>
			</array>
			<key>GIDClientID</key>
			<string>11763751557-61b58h898ml5mkl4ogkfcirammlq69l0.apps.googleusercontent.com</string>
		</dict>
	</array>
</dict>
</plist>
